@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<Aplicacionwebsemantica.Models.Ave>


<div id="wrapper">

    <!-- Hero
    ================================================== -->
    <section>
        <div id="hero-section" class="landing-hero" data-stellar-background-ratio="0">
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                            <div class="hero-text">
                                <div class="herolider">
                                    <ul class="caption-slides">

                                        <li class="caption">
                                            <h1>Avistamiento de Aves</h1>
                                            <div class="div-line"></div>
                                            <p class="hero">Branding, Photography</p>
                                        </li>

                                        <li class="caption">
                                            <h1>¿Cuántas aves albergamos en Colombia?</h1>
                                            <div class="div-line"></div>
                                            <p class="hero">Colombia Travel</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="hero-btn">
                                <a href="#landing-offer" class="btn btn-clean">Mas</a>
                            </div> <!-- end hero-btn -->

                        </div> <!-- end col-md-6 -->
                    </div> <!-- end row -->
                </div> <!-- End container -->
            </div> <!-- End hero-content -->
        </div> <!-- End hero-section -->
    </section>
    <!-- End hero section -->
    <!-- Offer
    ================================================== -->
    <section>
        <div id="landing-offer" class="pad-sec">
            <div class="container">

                <div class="title-section big-title-sec animated out" data-animation="fadeInUp" data-delay="0">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="big-title">Informacion Sobre estas Practicas</h2>
                            <h1 class="big-subtitle">Digital studio para obtencion de diversidad de especies &amp; COLOMBIA</h1>
                            <hr>
                            <p class="about-text">
                                El avistamiento de aves es una práctica que puedes realizar en Colombia pues es un
                                país reconocido internacionalmente por su biodiversidad única y por ser el país número uno en especies
                                de aves, hay cerca de 1921 especies que representan el 20% de las aves de todo el mundo y seguimos
                                contando, estas pueden observarse a lo largo de todo el año
                            </p>
                        </div>
                    </div> <!-- End row -->
                </div> <!-- end title-section -->

                <section>
                    <div class="sep-section"></div>
                </section>

                <!-- Features services
    ================================================== -->
                <section>
                    <div id="features-section" class="pad-sec">
                        <div class="container">
                            <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <h2 class="">¿Donde hacer avistamiento de Aves?</h2>
                                        <hr>
                                        <p>
                                            Existen varias rutas y zonas de reserva natural de fácil acceso en las que puedes reservar el
                                            recorrido
                                        </p>
                                    </div> <!-- edn col-sm-8 -->
                                </div> <!-- End row -->
                            </div> <!-- end title-section -->
                            <div class="row">
                                <div class="col-md-3 without-padding">
                                    <div class="left-features-services">
                                        <ul class="features-list">
                                            <!-- feature -->


                                            <li>
                                                <div class="left-features-box animated out" data-animation="fadeInLeft" data-delay="0">
                                                    <span class="iconbox"><i class="icon-strategy"></i></span>
                                                    <div class="features-box-content">
                                                        <h6>Reserva Natural Laguna de Sonso</h6>
                                                        <p>Valle del Cauca</p>
                                                    </div> <!-- end features-box-content -->
                                                </div> <!-- end left-features-box -->
                                            </li>


                                        </ul> <!-- end features-list -->
                                    </div> <!-- end left-features-service -->
                                </div><!--  end col-md-3 -->

                                <div class="col-md-6">
                                    <div class="features-image animated out" data-animation="fadeInUp" data-delay="0">
                                        <img src="~/css/imagenes/colibri.png" alt="">
                                    </div> <!-- end features-image -->
                                </div> <!-- end col-md-6 -->

                                <div class="col-md-3 without-padding">
                                    <div class="right-features-services">
                                        <ul class="features-list">
                                            <!-- feature -->
                                            <li>
                                                <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                                                    <span class="iconbox"><i class="icon-strategy"></i></span>
                                                    <div class="features-box-content">
                                                        <h6>Parque Ecológico Pionono</h6>
                                                        <p>Sopó, Cundinamarca</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- feature -->
                                            <li>
                                                <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                                                    <span class="iconbox"><i class="icon-strategy"></i></span>
                                                    <div class="features-box-content">
                                                        <h6>Parque Nacional Natural Uramba Bahía Málaga</h6>
                                                        <p>Valle del Cauca</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- feature -->
                                            <li>
                                                <div class="right-features-box animated out" data-animation="fadeInRight" data-delay="0">
                                                    <span class="iconbox"><i class="icon-strategy"></i></span>
                                                    <div class="features-box-content">
                                                        <h6>Sendero La Cristalina</h6>
                                                        <p>Santa María, Boyacá</p>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul> <!-- end features-list -->
                                    </div>
                                </div> <!-- end col-md-3 -->

                            </div> <!-- end row -->
                        </div> <!-- end container -->
                    </div>
                </section>
                <!-- End features-section -->
                <!-- Features App 2
    ================================================== -->
                <section>
                    <div id="team-section" class="pad-sec">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 features-app-content-left animated out" data-animation="fadeInLeft"
                                     data-delay="0">
                                    <div class="section_header">
                                        <h2>Distribucion regional de Aves</h2>
                                    </div> <!-- End section_header -->
                                    <p>
                                        El avistamiento de aves es una práctica que puedes realizar en Colombia pues es un país
                                        reconocido internacionalmente por su biodiversidad única y por ser el país número uno en especies
                                        de aves
                                    </p>

                                    <ul class="features-app-list">

                                        <!-- feature -->
                                        <li>
                                            <div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
                                                <div class="app-feature-icon pull-left"><span class="pe-7s-graph"></span></div>
                                                <div class="feature-app-box-content">
                                                    <h6>Región Caribe (Cerca de 200 especies de aves)</h6>
                                                    <p>
                                                        Periquito de Santa Marta (Pyrrhura viridicata).
                                                    </p>
                                                    <p>
                                                        Colibrí cienaguero (Lepidopyga lilliae).
                                                    </p>
                                                    <p>
                                                        Tángara Serrana (Anisognathus melanogenys).
                                                    </p>
                                                    <p>Guacharaca Caribeña (Ortalis garrula).</p>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- feature -->
                                        <li>
                                            <div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
                                                <div class="app-feature-icon pull-left"><span class="pe-7s-config"></span></div>
                                                <div class="feature-app-box-content">
                                                    <h6>Región Pacífica (Cerca de 650 especies de aves)</h6>
                                                    <p>
                                                        Chacurú Barreado (Bucco noanamae).

                                                    </p>
                                                    <p>
                                                        Oropéndola del Baudó (Psarocolius cassini).

                                                    </p>
                                                    <p>Mielero verde (Chlorophanes spiza).</p>
                                                    <p>Cotinga Azul (Cotinga nattererii).</p>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- feature -->
                                        <li>
                                            <div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
                                                <div class="app-feature-icon pull-left"><span class="pe-7s-refresh-2"></span></div>
                                                <div class="feature-app-box-content">
                                                    <h6>Orinoquía (Cerca de 570 especies de aves)</h6>
                                                    <p>
                                                        Jacamará pardo (Brachygalba lugubris).
                                                    </p>
                                                    <p>
                                                        Martín Pescador Amazónico (Chloroceryle amazona).
                                                    </p>
                                                    <p>
                                                        Trogón coliblanco (Trogon viridis).
                                                    </p>
                                                    <p>Fruterito de Pico grueso (Euphonia laniirostris).</p>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- feature -->
                                        <li>
                                            <div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
                                                <div class="app-feature-icon pull-left"><span class="pe-7s-lock"></span></div>
                                                <div class="feature-app-box-content">
                                                    <h6>Amazonas (Cerca de 750 especies de aves)</h6>
                                                    <p>
                                                        Tángara azulada (Thraupis episcopus).
                                                    </p>
                                                    <p>
                                                        Semillero ventricastaño (Sporophila castaneiventris).
                                                    </p>
                                                    <p>Tirano Palmero (Tyrannopsis sulphurea).</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feature-app-box animated out" data-animation="fadeInLeft" data-delay="0">
                                                <div class="app-feature-icon pull-left"><span class="pe-7s-lock"></span></div>
                                                <div class="feature-app-box-content">
                                                    <h6>Región Andina (Cerca de 800 especies de aves)</h6>
                                                    <p>
                                                        Tángara multicolor (Chlorochrysa nitidissima).

                                                    </p>
                                                    <p>
                                                        Bngsia Aureocincta (Bangsia aureocincta).

                                                    </p>
                                                    <p>
                                                        Príncipe de Arcabuco (Coeligena prunelle).
                                                    </p>
                                                    <p>Turpial de vientre rojo (Hypopyrrhus pyrohypogaster)</p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div> <!-- End feature-content -->

                                <div class="col-sm-5 col-sm-offset-1 text-center img-app-right animated out"
                                     data-animation="fadeInRight" data-delay="0">
                                    <figure>
                                        <img src="~/css/imagenes/aviturismo-colombia-removebg-preview.png" alt="">
                                    </figure>
                                </div> <!-- End col-sm-8 -->

                            </div> <!-- End row -->
                        </div> <!-- End container -->
                    </div> <!-- End feature-section -->
                </section>
                <!-- End Features App 2 section -->

                <section>
                    <div class="sep-section"></div>
                </section>



                <!-- Screenshots
    ================================================== -->
                <!--
        <section class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h5>@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <img src="~/css/imagenes/Tangara-multicolor.jpg" />
                    </div>
                }




            </div>
        </section>-->
            
                <section class="container">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <h5>@Html.DisplayFor(modelItem => item.Nombre)</h5>
                                <!--<img src="~/css/imagenes/@Html.DisplayFor(modelItem => item.Nombre)" />-->
                                <img src="~/css/imagenes/ALCONES.jpg" />
                            </div>
                        }




                    </div>
                </section>



                <section>
                    <div class="sep-section"></div>
                </section>


                <!-- Contact-section
    ================================================== -->
                <section>
                    <div id="contact-section" class="pad-sec">

                        <div class="container">

                            <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <h2>Contacto</h2>
                                        <hr>

                                    </div>
                                </div> <!-- End row -->
                            </div> <!-- end title-section -->

                            <div class="form-wrapper">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">

                                        <!-- form fields -->
                                        <form action="" method="post" name="contactform" id="contactform"
                                              class="animated out" data-animation="fadeInUp" data-delay="0">

                                            <fieldset>
                                                <div class="form-group">
                                                    <input class="form-control br-b" type="text" name="name" id="name" placeholder="Nombres">
                                                </div>

                                                <div class="form-group">
                                                    <input class="form-control br-b" type="email" name="email" id="email" placeholder="Email">
                                                </div>

                                                <div class="form-group">
                                                    <textarea class="form-control br-b" name="message" id="message"
                                                              placeholder="Mensage..."></textarea>
                                                </div>
                                            </fieldset>

                                            <!-- submit button -->
                                            <div class="form-group">
                                                <input type="submit" name="submit" value="Enviar mensaje" id="submit"
                                                       class="btn btn-sm btn-dark">
                                            </div>

                                            <div id="alert"></div>

                                        </form>

                                    </div> <!-- end col-md-8 -->
                                </div> <!-- end row -->
                            </div> <!-- end form-wrapper -->

                        </div> <!-- end container -->

                    </div> <!-- End contact-section -->
                </section>

                <!-- Contact-info
    ================================================== -->
                <section>
                    <div class="contact-info">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="#"><i class="pe-7s-map-marker"></i>Colombia</a>
                                </div> <!-- End col-sm-4 -->
                                <div class="col-sm-4">
                                    <a href="tel:+123000456"><i class="pe-7s-phone"></i>+123 000 456</a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="sergiodhavidramos20@gmail.com.com"><i class="pe-7s-mail"></i>vAvesCol@gmail.com</a>
                                </div>
                            </div> <!-- End row -->
                        </div> <!-- End container -->
                    </div> <!-- End contact-info -->
                </section>

                <!-- Footer
    ================================================== -->
                <footer>
                    <div id="footer-section" class="text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <ul class="footer-social-links">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">Behance</a></li>
                                        <li><a href="#">Pinterest</a></li>
                                    </ul>

                                </div> <!-- End col-sm-8 -->
                            </div> <!-- End row -->
                        </div> <!-- End container -->
                    </div> <!-- End footer-section  -->
                </footer>
                <!-- End footer -->

            </div> <!-- End wrapper -->
            <!-- Back-to-top
            ================================================== -->
            <div class="back-to-top">
                <i class="fa fa-angle-up fa-3x"></i>
            </div> <!-- end back-to-top -->


